* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";

    max-width: 1200px;
    margin: 0 auto;
}

/* Header */

header {
    grid-area: header;
    background: steelblue;
    color: white;
    text-align: center;
    padding: 1rem;
}

/* Main */

main {
    grid-area: main;
    padding: 2rem;
}

main img {
    width: 150px;
    float: right;
    margin-left: 1rem;
}

/* Aside */

aside {
    grid-area: aside;

    margin: 1rem;
    padding: 1rem;

    border: 1px solid #999;
    background: #eee;

    text-align: center;
}

aside img {
    width: 200px;
}

/* Footer */

footer {
    grid-area: footer;

    margin-top: 1rem;
    padding: 1rem;

    border-top: 1px solid #000;

    text-align: center;
}